# Virtual environment
rf_env/

# Large processed data
data/processed/*.parquet
data/synthetic/

# Large model files
models/*.pkl
models/*.pt

# MLflow runs
mlruns/

# Python cache
__pycache__/
*.pyc
*.pyo
*.egg-info/

# Jupyter checkpoints
.ipynb_checkpoints/

# OS files
.DS_Store
Thumbs.db

# lib folder
lib/
