# Virtual environment
rf_env/

# Large data files — raw training sets too big for GitHub
data/raw/train_*.txt
data/raw/test_*.txt
data/raw/secom.data
data/processed/*.parquet
data/synthetic/

# Large model files
models/*.pkl
models/*.pt

# MLflow runs
mlruns/

# Python cache
__pycache__/
*.pyc
*.pyo
*.egg-info/

# Jupyter checkpoints
.ipynb_checkpoints/

# OS files
.DS_Store
Thumbs.db
